* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
}

/* common button */

.common-button {
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 0;
}


nav > img {
    height: 35px;
    width: auto;
    object-fit: contain;
    display: block;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px; 
    align-items: center;
}


nav ul li a {
    text-decoration: none;
    color: #555555; 
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav li a:hover {
    color: #1D4ED8; 
}


nav ul li:last-child {
    margin-left: 15px;
}

/* nav bar end */

/* hero section style */

.hero-section {
  
    background: url('./assets/banner.jpg') no-repeat center center/cover;
    background-color: #0b0c10; 
    min-height: 720px; 
    position: relative;
    width: 100%;
}

.hero-overlay {
   background: 
        radial-gradient(ellipse at 85% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(37, 99, 235, 0.15) 40%, rgba(10, 11, 15, 0.6) 85%),
        radial-gradient(circle at 30% 40%, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.hero-content {
    text-align: center;
    color: white;
    max-width: 850px; 
    z-index: 2; 
    padding: 40px 20px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.hero-content h1 span {
    font-style: italic;
    font-weight: 700;
}